[submodule "happypose/pose_estimators/cosypose/deps/job-runner"]
	path = happypose/pose_estimators/cosypose/deps/job-runner
	url = https://github.com/ylabbe/job-runner.git
[submodule "deps/bop_toolkit_challenge"]
	path = deps/bop_toolkit_challenge
	url = https://github.com/thodan/bop_toolkit
[submodule "deps/bop_renderer"]
	path = deps/bop_renderer
	url = https://github.com/thodan/bop_renderer/
